name: gynec_band_trial1
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter

  fl_chart: ^0.66.0
  audioplayers: ^5.2.0
  shared_preferences: ^2.2.2
  uuid: ^4.3.3
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/sounds/heartbeat.wav
